<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="app.js"></script>

<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
            <div class="col-md-4">
              <div class="well well-lg">
                    <font size="5">Kuchnia:</font>
                              <br>
                               <br>
                               <div ng-repeat="item2 in kit">
                                  <p><font size="3">{{item2.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item2.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item2.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(kit)}}<br>
                                     Co daje koszty [zł]: {{sum(kit)*0.55}}<br>
              </div>
      </div>
      <div class="col-md-4">
              <div class="well well-lg">
                    <font size="5">Łazienka:</font>
                              <br>
                               <br>
                               <div ng-repeat="item3 in bat">
                                  <p><font size="3">{{item3.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item3.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item3.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(bat)}}<br>
                                     Co daje koszty [zł]: {{sum(bat)*0.55}}<br>
              </div>
      </div>
      <div class="col-md-4">
              <div class="well well-lg">
                    <font size="5">Salon:</font>
                              <br>
                               <br>
                               <div ng-repeat="item4 in liv">
                                  <p><font size="3">{{item4.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item4.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item4.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(liv)}}<br>
                                     Co daje koszty [zł]: {{sum(liv)*0.55}}<br>
              </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-3">
              <div class="well well-lg">
                     <font size="5">Korytarz:</font>
                           <br>
                           <br>
                           <div ng-repeat="item in cor">
                              <p><font size="3">{{item.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item.power"></font></p>
                            </div>
                                 Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(cor)}}<br>
                                 Co daje koszty [zł]: {{sum(cor)*0.55}}<br>
              </div>
      </div>
            <div class="col-md-3">
              <div class="well well-lg">
                    <font size="5">Taras:</font>
                              <br>
                               <br>
                               <div ng-repeat="item5 in ter">
                                  <p><font size="3">{{item5.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item5.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item5.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(ter)}}<br>
                                     Co daje koszty [zł]: {{sum(ter)*0.55}}<br>
              </div>
      </div>
      <div class="col-md-3">
              <div class="well well-lg">
                     <font size="5">Schody:</font>
                              <br>
                               <br>
                               <div ng-repeat="item6 in sta">
                                  <p><font size="3">{{item6.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item6.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item6.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(sta)}}<br>
                                     Co daje koszty [zł]: {{sum(sta)*0.55}}<br>
              </div>
      </div>
      <div class="col-md-3">
              <div class="well well-lg">
                     <font size="5">Korytarz na piętrze:</font>
                              <br>
                               <br>
                               <div ng-repeat="item7 in sta">
                                  <p><font size="3">{{item7.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item7.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item7.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(corup)}}<br>
                                     Co daje koszty [zł]: {{sum(corup)*0.55}}<br>
              </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6">
              <div class="well well-lg">
                     <font size="5">Pokój 1:</font>
                              <br>
                               <br>
                               <div ng-repeat="item8 in room1">
                                  <p><font size="3">{{item8.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item8.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item8.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(room1)}}<br>
                                     Co daje koszty [zł]: {{sum(room1)*0.55}}<br>
              </div>
      </div>
      <div class="col-sm-6">
              <div class="well well-lg">
                     <font size="5">Pokój 2:</font>
                              <br>
                               <br>
                               <div ng-repeat="item9 in room2">
                                  <p><font size="3">{{item9.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item9.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item9.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(room2)}}<br>
                                     Co daje koszty [zł]: {{sum(room2)*0.55}}<br>
              </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6">
              <div class="well well-lg">
                     <font size="5">Pokój 3:</font>
                              <br>
                               <br>
                               <div ng-repeat="item10 in room3">
                                  <p><font size="3">{{item10.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item10.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item10.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(room3)}}<br>
                                     Co daje koszty [zł]: {{sum(room3)*0.55}}<br>
              </div>
      </div>
      <div class="col-sm-6">
              <div class="well well-lg">
                     <font size="5">Pokój 4:</font>
                              <br>
                               <br>
                               <div ng-repeat="item11 in room4">
                                  <p><font size="3">{{item11.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item11.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item11.power"></font></p>
                                </div>
                                     Zużycie prądu w tym pomieszczeniu [kWh]: {{sum(room4)}}<br>
                                     Co daje koszty [zł]: {{sum(room4)*0.55}}<br>
              </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
              <div class="well well-lg">
                     <font size="5">Inne:</font>
                              <br>
                               <br>
                               <div ng-repeat="item12 in other">
                                  <p><font size="3">{{item12.name}}:<br> Czas[h]:<input class="input-sm" type=text ng-model="item12.value"><br> Moc[W]: <input class="input-sm" type=text ng-model="item12.power"></font></p>
                                </div>
                                     Zużycie prądu przez inne rzeczy [kWh]: {{sum(other)}}<br>
                                     Co daje koszty [zł]: {{sum(other)*0.55}}<br>
              </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <div class="well well-lg"><font size="3">
              Całkowite zużycie prądu [kWh]: {{sum(cor)+sum(kit)+sum(bat)+sum(liv)+sum(ter)+sum(sta)+sum(corup)+sum(room1)+sum(room2)+sum(room3)+sum(room4)+sum(other)}}<br>
              Całkowity koszt zużycia prądu [zł]: {{(sum(cor)+sum(kit)+sum(bat)+sum(liv)+sum(ter)+sum(sta)+sum(corup)+sum(room1)+sum(room2)+sum(room3)+sum(room4)+sum(other))*0.55}}
              </font>
      </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>